/.idea/
/.vscode/
/build_local/
/cache/
/node_modules/
/vendor/
deno/jigsaw/vendor/
npm-debug.log
package-lock.json
npm-debug.log
yarn-error.log

# Optional ignores
/build_local/
/build_staging/
/build_production/
# /source/assets/build/css/
# /source/assets/build/fonts/
# /source/assets/build/js/